# The ID of your GitHub App
APP_ID=
WEBHOOK_SECRET=development

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# Firebase configuration
FIREBASE_API_KEY=apiKey
FIREBASE_AUTH_DOMAIN=projectId.firebaseapp.com
FIREBASE_DATABASE_URL=https://databaseName.firebaseio.com
FIREBASE_PROJET_ID=
FIREBASE_STORAGE_BUCKET=bucket.appspot.com
FIREBASE_MESSAGING_SENDER_ID=
